html, body {
	margin: 0;
	width: 100%;
	min-height: 100%;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, .table, .table-responsive {
    margin-top: 30px;
}
.table-responsive > .table {
    margin-top: 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, hr, pre, .table {
    margin-bottom: 30px;
}
th {
    white-space: nowrap;
}
.table-compatibility th,
.table-compatibility td {
    text-align: center;
}
.table-compatibility th.text-left,
.table-compatibility td.text-left {
    text-align: left;
}
.demo-multibackground > [data-multibackground-content] {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 180px;
    text-shadow: #000 2px 2px;
    margin: 0 0 30px 0;
}
.prettyprint ol.linenums > li { list-style-type: decimal; }
@media (min-width: 768px) {
    .navbar-default .navbar-nav > li:not(.active):hover > a {
        background: #e7e7e7;
    }
    .navbar-default .navbar-nav > li:hover > ul {
        display: block;
    }
}